name: Go tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  gotests:
    runs-on: ubuntu-latest
    name: Go tests
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25"
      - name: Print env vars
        run: env
      - name: Unit tests
        run: make test
      - name: Check code coverage
        run: ./check_coverage.sh
      - name: Display code coverage
        run: make coverage
      - uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: OpenAPI Check
        run: make openapi-check
      - name: REST API Tests
        run: make integration_tests
